DATABASE_URL=postgresql://chainlink:chainlinkpassword@postgres-chainlink:5432/chainlink
ETH_URL=https://mainnet.infura.io/v3/YOUR_INFURA_PROJECT_ID
CHAINLINK_PASSWORD=ChangeThisAdminPassword
ROOT_EMAIL=admin@example.com
CHAINLINK_TLS_PORT=0
LOG_LEVEL=info
CHAINLINK_TLS=false